@keyframes open {
    from {height: 1px}
    to {height: 200px}
}

.conversations {
    max-height: 200px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.conversations::-webkit-scrollbar {
    display: none;
}

.popOut {
    animation: open 1s linear;
}